@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500;600&family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;700&display=swap');

@import "tailwindcss";


:root {
  --background: #0D0D12;
  --foreground: #0D0D12;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);


  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-museo: "MuseoModerno", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0D0D12;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.font-museoModerno {
  font-family: var(--font-museo);
}

.font-robotoMono {
  font-family: "Roboto Mono", monospace;
}

.xapple-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0%;
  background: linear-gradient(90deg, #CCD1E9 0%, #CCD1E9 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.9;
}

.meet-text {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  font-size: 12px;
  line-height: 119%;
  letter-spacing: 0%;
  color: #94A3B8;
  opacity: 1;
}
.font-museo {
  font-family: 'MuseoModerno', sans-serif;
}



.launchpad-text {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0%;
  background: linear-gradient(90deg, #CCD1E9 0%, #CCD1E9 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.5;
}

.xapple-desc {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #FFFFFF;
  opacity: 0.4;
}

